@charset "utf-8";
/* CSS Document */
@media all and (min-width: 768px) {
  header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
    background: #ff9292;
    display: flex;
    justify-content: space-between;
  }
  .headertitle {
    font-weight: 900;
    color: white;
    font-size: 18px;
    align-items: center;
    padding-top: 13px;
    padding-left: 200px;
    padding-right: 50px;
  }
  .menu {
    list-style: none;
    font-size: 16px;
    color: white;
    align-items: center;
    display: inline-flex;
    justify-content: space-between;
  }
  .menuitem {
    float: left;
    padding-top: 13px;
    padding-left: 20px;
    padding-right: 20px;
    align-items: center;
    justify-content: space-between;
  }
  .main {
    background: linear-gradient(
      180deg,
      #ff9292 0%,
      rgba(236, 236, 236, 0) 100%
    );
  }
  .maintitle {
    color: #fa776f;
    font-size: 48px;
    font-weight: 900;
  }
  .maintext {
    color: #fa776f;
    font-size: 36px;
    display: flex;
  }
  .mainimagewrapper {
    width: 80%;
    margin: 0px auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  .mainimage {
    max-width: 100%;
  }
  .introtitle {
    font-size: 36px;
    font-weight: bold;
    padding-top: 60px;
    color: #8394ff;
  }
  .introtext {
    font-size: 18px;
    color: #838383;
  }
  .introimage {
    padding-top: 50px;
    padding-bottom: 60px;
  }
  .friendstitle {
    font-size: 36px;
    font-weight: bold;
    color: #00c79f;
  }
  .friendswrapper {
    display: flex;
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 60px;
    justify-content: space-between;
    padding-bottom: 60px;
    flex-wrap: wrap;
  }
  .friendsbox {
    display: inline-block;
    width: 300px;
    height: 350px;
    background: #f8f8f8;
    box-shadow: 4px 4px 4px rgba(115, 115, 115, 0.25);
    border-radius: 25px;
    text-align: center;
    padding: 20px;
  }
  .rosename {
    font-weight: bold;
    font-size: 24px;
    color: #ff9292;
  }
  .friendstext {
    font-weight: 300;
    font-size: 16px;
    color: #898989;
  }
  .pastaname {
    font-weight: bold;
    font-size: 24px;
    color: #739af2;
  }
  .mintyname {
    font-weight: bold;
    font-size: 24px;
    color: #00c7a0;
  }
  .remoniname {
    font-weight: bold;
    font-size: 24px;
    color: #ffbc57;
  }
  .friendimage {
    padding-bottom: 35px;
  }
  .shopstitle {
    font-size: 36px;
    font-weight: bold;
    color: #00c79f;
  }
  .shopstext {
    font-size: 18px;
    color: #838383;
  }
  .shopswrapper {
    display: flex;
    padding-left: 600px;
    padding-top: 60px;
    padding-right: 600px;
    justify-content: space-between;
    padding-bottom: 60px;
    align-items: center;
  }
  footer {
    width: 100%;
    height: 200px;
    background: #739af2;
    padding-left: 200px;
  }
  .footerlinks {
    font-size: 15px;
    align-items: center;
    padding-top: 30px;
  }
  .footermenu {
    list-style: none;
    color: #ffffff;
    padding-bottom: 15px;
  }
  .menuitems {
    padding-bottom: 3px;
  }
  .copyright {
    font-size: 15px;
    font-weight: bold;
    color: #ffffff;
  }
  * {
    margin: 0;
    padding: 0;
    font-family: montserrat;
  }
  header {
    width: 100%;
    height: 50px;
    background: #ff9292;
    display: flex;
    justify-content: space-between;
    position: relative;
  }
  .headertitle {
    font-weight: 900;
    color: white;
    font-size: 18px;
    align-items: center;
    padding-top: 13px;
    padding-left: 200px;
    padding-right: 50px;
  }
  .menu {
    list-style: none;
    font-size: 16px;
    color: white;
    align-items: center;
    display: inline-flex;
    justify-content: space-between;
    position: relative;
  }
  .menuitem {
    float: left;
    padding-top: 13px;
    padding-left: 20px;
    padding-right: 20px;
    align-items: center;
    justify-content: space-between;
  }
  .main {
    background: linear-gradient(
      180deg,
      #ff9292 0%,
      rgba(236, 236, 236, 0) 100%
    );
    position: relative;
  }

  .maintextwrapper {
    position: absolute;
    top: 50%;
    left: 15%;
    transform: translateY(-50%);
  }

  .maintext {
    color: #fa776f;
    font-size: 36px;
    display: flex;
  }

  .introtitle {
    font-size: 36px;
    font-weight: bold;
    padding-top: 60px;
    color: #8394ff;
  }
  .introtext {
    font-size: 18px;
    color: #838383;
  }
  .introimage {
    padding-top: 50px;
    padding-bottom: 60px;
  }
  .friendstitle {
    font-size: 36px;
    font-weight: bold;
    color: #00c79f;
  }
  .friendswrapper {
    display: flex;
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 60px;
    padding-bottom: 60px;
    /* align-contents: space-around; */
    justify-content: space-around;
  }
  .friendsbox {
    display: inline-block;
    width: 300px;
    height: 350px;
    background: #f8f8f8;
    box-shadow: 4px 4px 4px rgba(115, 115, 115, 0.25);
    border-radius: 25px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .rosename {
    font-weight: bold;
    font-size: 24px;
    color: #ff9292;
  }
  .friendstext {
    font-weight: 300;
    font-size: 16px;
    color: #898989;
  }
  .pastaname {
    font-weight: bold;
    font-size: 24px;
    color: #739af2;
  }
  .mintyname {
    font-weight: bold;
    font-size: 24px;
    color: #00c7a0;
  }
  .remoniname {
    font-weight: bold;
    font-size: 24px;
    color: #ffbc57;
  }
  .friendimage {
    padding-bottom: 35px;
  }
  .shopstitle {
    font-size: 36px;
    font-weight: bold;
    color: #00c79f;
  }
  .shopstext {
    font-size: 18px;
    color: #838383;
  }
  .shopswrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-bottom: 60px;
    align-items: center;
    flex-wrap: wrap;
  }
  .shopitem {
    display: inline-block;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  footer {
    width: 100%;
    height: 200px;
    background: #739af2;
    padding-left: 200px;
  }
  .footerlinks {
    font-size: 15px;
    align-items: center;
    padding-top: 30px;
  }
  .footermenu {
    list-style: none;
    color: #ffffff;
    padding-bottom: 15px;
  }
  .menuitems {
    padding-bottom: 3px;
  }
  .copyright {
    font-size: 15px;
    font-weight: bold;
    color: #ffffff;
  }
}
